.EditorPage {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 3em;
  align-items: center;
  justify-content: space-around;
}

.EventInfoContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.InputHeader {
  max-width: 550px;
  height: 65px;
  margin-left: 2em;
  transform: translateY(30px);
  background-color: #fafafa;
}

.InputInfo {
  flex-basis: 100%;
  max-width: 550px;
  padding: 2em;
  margin-left: 2em;
  textAlign: center;
  overflow: scroll;
};

.AddAttachment {
  margin-top: 2em;
}
