.EditorPage {
  display: flex;
  flex: 1;
  position: relative;
  z-index: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  align-items: flex-end;
  margin-bottom: 3em;
}

.buttons {
  z-index: 2;
  float: right;
}

.EventInfoContainer {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  margin: 2em 0;
  max-width: 550px;
}

.previewImage img {
  width:100%;
}

.deleteValidateButtons {
  display: flex;
  justify-content: space-between;
}

.MapTimeLine {
  display: flex;
  flex-direction: column;
  width:100%;
}

.InputHeader {
  height: 65px;
  margin-left: 2em;
  padding-left: 2em;
  padding-top: 2em;
  background-color: #fafafa;
}

.InputInfo {
  flex-basis: 100%;
  padding: 2em;
  margin-left: 2em;
  textAlign: center;
  overflow: scroll;
};

.AddAttachment {
  margin-top: 2em;
}

::-webkit-scrollbar {
  display: none;
}

.saveButtons {
  display: flex;
  flex-direction: column;
}

.Map {
  display: flex;
  position: relative;
  flex:1;
  z-index: 1;
}

#map {
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
}

.EventInfoDiv {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  margin-top: -64px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.EventInfoContainer {
  position: relative;
  z-index: 2;
}
