.NavBar {
  height: 0.6em;
  min-height: 3em;
  background-color: black;
  opacity: 0.7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 1em;
}

.LoginButton {
  margin-right: 1em;
}
