.NavBar {
  display: flex;
  justify-content: space-between;
}

.LoginButton {
  display: flex;
  background-color: #4c69ba;
  border: none;
  border-radius: 3px;
  font-size: 3em;
  cursor: pointer;
  transition: background 0.5s linear;
}

.LoginButton:hover {
  background-color: #3b5998;
}

.LoggedInActions {
  display: flex;
}
