.StoryList {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2em;
}

.StoryListItem {
  margin: 0.5em 0;
  cursor: pointer;
  display: flex;
}

.ListItemPaper {
  display: flex;
  flex: 1 1;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}

.ListItemDescription{
  display: flex;
  flex: 1;
  align-items: center;
  align-self: stretch;
  padding-left: 20px;
}

.ListItemDescription p:first-child {
  font-weight: 600;
  color: black;
  margin-left: 0px;
  font-size: 1.3rem;
  padding-top:0px;
}

.ListItemDescription p {
  color: grey;
  padding-top: 4px;
  margin-left: 20px;
}

.Paper {
  display: flex;
  align-items: center;
}

.Buttons {
  display: flex;
  align-self: center;
}

.Buttons > * {
  padding : 0 5px;
}

@media (max-width: 1380px) {
  .StoryList {
    margin-top: 6.5em;
  }
}

@media (max-width: 1288px) {
  .StoryListItem {
    margin: 0 3em;
  }
}

@media (max-width: 480px) {
  .ListItemPaper {
    flex-direction: column;
  }
  .Buttons {
    justify-content: space-between;
  }

}
