.StoryList {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2em;
}

.StoryListItem {
  margin: 0.5em 0;
  cursor: pointer;
  display: flex;
  align-items: center;

}

.ListItemDescription{
  display: flex;
  justify-content: center;
}

.Paper {
  display: flex;
  align-items: center;
}

.Buttons {
  display: flex;
  flex-direction: column;
}
