.StoryList {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2em;
}

.StoryListItem {
  margin: 0.5em 0;
  cursor: pointer;
}

.ListItemDescription{
  display: flex;
}

.Paper {
  display: flex;
  align-items: center;
}
