.Viewer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #eaf0f9;
}

.MapViewer {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
}

.Titles {
  max-width: 350px;
}

::-webkit-scrollbar {
  display: none;
}

.EventsContainer {
  max-width: 350px;
  flex-basis: 100%;
  overflow: scroll;
}

.EventCard:nth-child(1) {
  margin-top: 0;
}

.EventCard {
  margin: 0.5em 0;
}

.SliderContainer {
  flex: 1;
  min-height: 90px;
  background-color: #f4f7fc;
}

.Link {
  display: flex;
  box-sizing: border-box;
}

.LinkChildren {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.LinkChildren a {
  word-break: break-all;
  text-decoration: underline;
  margin-right: 1em;
}

.LinkChildren img {
  max-width: 25%;
}

.Video {
  margin-top: 0.5em;
}
